* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

/* Navigation style (heading) */
.navi {
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
/* Z-index pushes the navbar forward, meaning nothing can be displayed over it. 
Without this, the Learn More buttons were displaying over it and blocking some of the content */

.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navi li {
  float: right;
}

.navi li a {
  display: block;
  background-color: black;
  color: white;
  padding: 25px 20px;
  text-decoration: none;
}

.navi li a:hover {
  background-color: crimson;
  transition: 0.3s ease;
}

.navi .name {
  float: left;
}

.navi .name a {
  color: gold;
}

.navi .name a:hover {
  background-color: darkorchid;
}

.Disclaimer {
  margin-top: 109px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.Disclaimer h1 {
  color: red;
  text-align: center;
}

.GenRdmQuote {
  text-align: center;
}

.GenRdmQuote button {
  background-color: green;
  color: white;
  font-size: 16pt;
}

.AddQuoteContainer {
  margin-top: 10px;
  text-align: center;
}

.AddQuoteContainer input {
  margin-bottom: 10px;
}

.AddQuoteContainer button {
  background-color: blue;
  color: white;
  font-size: 16pt;
  margin-bottom: 10px;
}

#authorize-button {
  background-color: orange; /* Change the color as needed */
  color: white;
  font-size: 16pt;
  margin-bottom: 10px;
}

#authorize-button:hover {
  background-color: darkorange; /* Change the hover color as needed */
  transition: 0.3s ease;
}
